# Research Analytics Suite (RAS) Requirements
# platform: win-64 | osx-64 | linux-64
# python: 3.12

# This file may be used to install the required packages using:
# $ pip install -r requirements.txt

# Requirements --------------------------------------------------------------------
aioconsole
aiofiles
aiosqlite
bleak
boto3
cachetools
dask
dearpygui
dearpygui-async
diskcache
fastavro
matplotlib
nest-asyncio
numpy
openpyxl
pandas
paramiko
prettytable
psutil
pyarrow
pymongo
pynvml
pytest
pytest-asyncio
pytest-cov
pyserial
scikit-learn
scipy>=1.10.0
statsmodels>=0.13.0
tables
torch
