# Research Analytics Suite (RAS)Requirements
# platform: win-64 | osx-64 | linux-64
# python: 3.11

# This file may be used to install the required packages using:
# $ pip install -r requirements.txt

# Requirements --------------------------------------------------------------------
aioconsole
aiofiles
aiosqlite
asttokens
boto3
botocore
cachey
dask
dask-expr
fastavro
fastparquet
importlib-metadata
importlib_resources
jupyter_core
keras
matplotlib
mkl
mkl-service
mkl_fft
mkl_random
nest-asyncio
numexpr
numpy
openpyxl
pandas
pip
pipreqs
prettytable
psutil
pyarrow
pymongo
pyopenssl
pyparsing
tables
pytest
pytest-asyncio
pytest-cov
pyserial
pyserial-asyncio
requests
requests-toolbelt
rich
s3transfer
scikit-learn
scipy
torch
torchaudio
torchvision
tornado
wheel
dearpygui
dearpygui-async
jupyter-client
pure-eval
tensorflow