aioconsole==0.7.1
aiofiles==24.1.0
aiosqlite==0.20.0
boto3==1.34.143
cachey==0.2.1
dask==2024.7.0
dearpygui==1.11.1
dearpygui_async==0.1.2
fastavro==1.9.5
keras==3.4.1
matplotlib==3.9.1
nest_asyncio==1.6.0
numpy==1.24.3
pandas==2.2.2
prettytable==3.10.2
psutil==6.0.0
pymongo==4.8.0
pyserial==3.5
scikit_learn==1.5.1
scipy==1.14.0
statsmodels==0.14.2
tensorflow==2.17.0rc1
tensorflow_intel==2.17.0rc1
torch==2.3.0
